<GridLayout
  rows="*, auto, auto">
  <!-- Mood logo -->
  <FlexboxLayout
    row="0"
    flexDirection="column"
    justifyContent="center"
    alignItems="center">
    <Image
      src="res://images/start-up-logo"
      stretch="none">
    </Image>
  </FlexboxLayout>

  <!-- Join form -->
  <StackLayout
    row="1"
    class="p-r-30 p-b-30 p-l-30 m-b-30">
    <!-- Email & Password input form -->
    <StackLayout class="form p-r-30 p-b-30 p-l-30">
      <GridLayout class="input-field" rows="auto, auto" columns="auto,*" marginBottom="30">
        <Image
          row="0" col="0"
          width="40" height="25"
          src="res://images/icon-email-s"
          stretch="none">
        </Image>

        <!-- FIXME: Data bind not work!? (need to uncomment import from `app.module.ts`) -->
        <TextField
          row="0" col="1"
          class="input"
          hint="Email"
          color="#F1DFE3"
          style.placeholderColor="#ABADAE"
          returnKeyType="next"
          [text]="email"
          (textChange)="onEmailTextFieldChange($event)">
        </TextField>
        <!-- TODO: Return key event handle (focus password input field) -->
        <!-- returnKeyType="next" (returnPress)="onEmailInputReturn($event)" -->

        <StackLayout
          class="hr-light"
          row="1"
          colSpan="2">
        </StackLayout>
      </GridLayout>

      <GridLayout class="input-field" rows="auto, auto" columns="auto,*">
        <Image
          row="0" col="0"
          width="40" height="25"
          src="res://images/icon-password-s"
          stretch="none">
        </Image>

        <!-- FIXME: Data bind not work!? (need to uncomment import from `app.module.ts`) -->
        <TextField
          row="0" col="1"
          class="input"
          hint="Password"
          secure="true"
          color="#F1DFE3"
          style.placeholderColor="#ABADAE"
          [text]="password" 
          (textChange)="onPasswordTextFieldChange($event)">
        </TextField>
        <!-- TODO: Return key event handle (excute sign in/up) -->
        <!-- returnKeyType="send" (returnPress)="onPasswordInputReturn($event)" -->

        <StackLayout
          class="hr-light"
          row="1"
          colSpan="2">
        </StackLayout>
      </GridLayout>
    </StackLayout>

    <!-- Sign in/up ~ join buttons -->
    <StackLayout
      class="p-15">
      <!-- Sign in button (by email & password) -->
      <Button
        *ngIf="viewMode == 'signIn'"
        class="btn btn-primary btn-primary--inverse btn-rounded-lg text-uppercase"
        marginBottom="30"
        text="Sign In"
        (tap)="onSignInTap($event)"
        [isEnabled]="email != '' && password != ''">
      </Button>

      <!-- Sign up button (by email & password) -->
      <Button
        *ngIf="viewMode == 'signUp'"
        class="btn btn-primary btn-primary--inverse btn-rounded-lg text-uppercase"
        marginBottom="30"
        text="Sign Up"
        (tap)="onSignUpTap($event)"
        [isEnabled]="email != '' && password != ''">
      </Button>

      <!-- Join with (Facebook or Google) buttons -->
      <GridLayout
        rows="auto, auto"
        columns="*, *">
        <Label
          row="0" colSpan="2"
          class="text-center footnote"
          color="white"
          text="or join with ">
        </Label>

        <Button
          row="1" col="0"
          class="btn btn-outline btn-outline--inverse btn-rounded-lg text-uppercase"
          text="Facebook"
          (tap)="onJoinWithFacebookTap($event)">
        </Button>

        <Button
          row="1" col="1"
          class="btn btn-outline btn-outline--inverse btn-rounded-lg text-uppercase"
          text="Google"
          (tap)="onJoinWithGoogleTap($event)">
        </Button>
      </GridLayout>
    </StackLayout>
  </StackLayout>

  <!-- Footer text & buttons ("Sign In" mode) -->
  <FlexboxLayout
    row="2"
    *ngIf="viewMode == 'signIn'"
    flexDirection="row"
    justifyContent="center"
    class="footnote m-b-30">
    <Label text="If you have not yet, please " color="white"></Label>

    <!-- View mode siwtch button (to "Sign Up") -->
    <Button
      class="font-weight-bold text-uppercase"
      text="sign up"
      color="white"
      (tap)="onSwitchToSignUpTap($event)">
    </Button>

    <Label text=" or " color="white"></Label>

    <!-- Skip button -->
    <Button
      class="font-weight-bold text-uppercase"
      text="skip"
      color="white"
      (tap)="onSkipTap($event)">
    </Button>
  </FlexboxLayout>

  <!-- Footer text & buttons ("Sign Up" mode) -->
  <FlexboxLayout
    *ngIf="viewMode == 'signUp'"
    row="2"
    flexDirection="row"
    justifyContent="center"
    class="footnote m-b-30">
    <Label text="If you already have an account, please " color="white"></Label>

    <!-- View mode siwtch button (to "Sign In") -->
    <Button
      class="font-weight-bold text-uppercase"
      text="sign in"
      color="white"
      (tap)="onSwitchToSignInTap($event)">
    </Button>
  </FlexboxLayout>

  <!-- Loading indicator -->
  <FlexboxLayout
    row="0" rowSpan="3"
    flexDirection="column"
    justifyContent="center"
    alignItems="center"
    backgroundColor="rgba(255,255,255,.5)"
    [visibility]="isBusy ? 'visible' : 'collapse'">
    <ActivityIndicator
      class="activity-indicator"
      width="200"
      height="200"
      busy="true">
    </ActivityIndicator>
  </FlexboxLayout>
</GridLayout>

<!-- TODO: Notifying email verification -->
<!-- <FlexboxLayout *ngIf="viewMode == 'emailVerification'" flexDirection="column" justifyContent="center" class="footnote">
  <Label text="Please check your email" color="white"></Label>
  <Label text="and" color="white"></Label>
  <Label text="Click the link to confirm your account" color="white"></Label>
</FlexboxLayout> -->