<ActionBar
  class="action-bar"
  title="Mood">
  <Image
    src="res://images/action-bar-logo"
    stretch="none">
  </Image>
</ActionBar>

<TabView
  class="tab-view"
  selectedIndex="0"
  (selectedIndexChange)="onTabViewIndexChange($event)">
  <StackLayout
    *tabItem="{iconSource: 'res://images/tab-icon-home'}">
    <app-home></app-home>
  </StackLayout>

  <StackLayout
    *tabItem="{iconSource: 'res://images/tab-icon-search'}">
    <app-search></app-search>
  </StackLayout>

  <StackLayout
    *tabItem="{iconSource: 'res://images/tab-icon-add-post'}">
    <!-- Show as independant page -->
    <!-- <app-add-post></app-add-post> -->
  </StackLayout>

  <StackLayout
    *tabItem="{iconSource: 'res://images/tab-icon-activity'}">
    <app-activity></app-activity>
  </StackLayout>

  <StackLayout
    *tabItem="{iconSource: 'res://images/tab-icon-my-page'}">
    <app-my-page></app-my-page>
  </StackLayout>
</TabView>