<ActionBar class="action-bar" title="Comments">
  <NavigationButton icon="res://ic_arrow_back_black_24dp">
  </NavigationButton>
</ActionBar>
<GridLayout
  rows="10*, *">
  <RadListView
    [items]="comments$ | async"
    class="list-group"
    autoSize="false"
    textWrap="false"
    row="0">
    <ng-template
      let-comment="item">
      <GridLayout
        class="list-group-item"
        id="post-comments-list"
        rows="*, auto"
        columns="auto, *">
        <Image
          row="0"
          col="0"
          [src]="(userProfiles$ | async)[comment.user]?.photo || ' '"
          class="thumb img-circle">
        </Image>
        
        <StackLayout 
          row="0"
          col="1">
          <StackLayout
            orientation="horizontal">
            <Label
              [text]="(userProfiles$ | async)[comment.user]?.name || ' '"
              width="60%"
              textAlignment="left">
            </Label>
            
            <Label
              [text]="(comment.timestamp | dateFormatPipe)"
              width="40%"
              class="text-secondary"
              textAlignment="right">
            </Label>
          </StackLayout>
          
          <Label
            [text]="(comment.message)"
            class="list-group-item-text"
            id="post-comments-label"
            maxLines="3"
            textWrap = "true">
          </Label>
        </StackLayout>
      
        <StackLayout
          row="1"
          colSpan="2">
          <StackLayout
            class="hr-light m-t-10 m-b-0 m-r-10 m-l-10">
          </StackLayout>
        </StackLayout>
      </GridLayout>
    </ng-template>
  </RadListView>

  <AbsoluteLayout
    class="post-comments-bar"
    row="1">
    <StackLayout
      class="post-comments-input"
      orientation="horizontal">
      <TextView 
        #commentTextView
        class="post-comments-input--text-view"
        (tap)="onTapTextView($event)"
        [(ngModel)]="commentMessage"
        hint="Add a comment..."
        TextAlignment="center"
        (ngModelChange)="textChanged($event)">
      </TextView>

      <Button
        #postButton
        class="post-comments-input--button"
        (tap)="onTapButton($event)"
        text="Post"
        isEnabled="false">
      </Button>
    </StackLayout>
  </AbsoluteLayout>
</GridLayout>