<GridLayout
  class="page">
  <RadListView
    [items]="activities"
    class="list-group"
    autoSize="false"
    textWrap="false">
    <ng-template
      let-activity="item">
      <GridLayout
        class="list-group-item"
        id="activity-list"
        rows="*, auto"
        columns="auto, *">
        <Image
          row="0"
          col="0"
          [src]="activity.user[0].photo"
          class="thumb img-circle">
        </Image>

        <StackLayout
          row="0"
          col="1">
          <StackLayout
            orientation="horizontal"
            *ngIf="activity.type === '1'">
            <GridLayout
              columns="3*, *">
              <Label
                col="0">
                <Span
                  [text]="activity.user[0].name"
                  class="activity--text activity--name">
                </Span>
              
                <Span
                  [text]="activity | activityDescriptionPipe"
                  class="activity--text">
                </Span>
              </Label>
              <Button
                col="1"
                class="btn btn-primary btn-follow"
                text="Follow"
                (touch)="onTouchFollow($event)">
              </Button>
            </GridLayout> 
          </StackLayout>
          <StackLayout
            orientation="horizontal"
            *ngIf="activity.type === '2' || activity.type === '3'">  
            <Label
              class="activity--label"
              textWrap="true">
              <Span
                [text]="activity.user | activityUserFormerPipe"
                class="activity--text activity--name">
              </Span>
              
              <Span
                [text]="getAndText(activity.user)"
                class="activity--text">
              </Span>
              
              <Span
                [text]="activity.user | activityUserLatterPipe"
                class="activity--text activity--name">
              </Span>
                            
              <Span
                [text]="activity | activityDescriptionPipe"
                class="activity--text">
              </Span>
            </Label>
          </StackLayout>
          <StackLayout
            orientation="vertical"
            *ngIf="activity.type === '4' 
            || activity.type === '5' 
            || activity.type === '6'">  
            <Label
              class="activity--label"
              textWrap="true">
              <Span
                [text]="activity.user[0].name"
                class="activity--text activity--name">
              </Span>
              <Span
                [text]="activity | activityDescriptionPipe"
                class="activity--text">
              </Span>
              <Span
                  [text]="activity.comment"
                  class="activity--text">
              </Span>
            </Label>
          </StackLayout>
        </StackLayout>
      </GridLayout>
    </ng-template>
  </RadListView>
</GridLayout>