<GridLayout
  class="page">
  <ScrollView
    orientation="vertical">
    <StackLayout
      class="m-t-20 p-y-30 p-x-20">
      <Label
        row="0"
        class="h1 title text-accent text-center m-b-20"
        text="Choose Your Interest">
      </Label>

      <!-- Category list -->
      <FlexboxLayout
        flexDirection="row"
        flexWrap="wrap"
        justifyContent="center"
        alignItems="center"
        class="m-y-20">
        <StackLayout
          *ngFor="let category of (categories$ | async)"
          class="m-10"
          (tap)="onCategoryListItemTap(category)">
          <GridLayout height="100" width="100">
            <!-- FIXME: Adjust drop shadow -->
            <Image
              class="bg-primary img-rounded m-b-5"
              stretch="aspectFill"
              [src]="category.thumbnail" shadow="2">
            </Image>

            <!-- Check mark -->
            <FlexboxLayout
              justifyContent="center"
              alignItems="center"
              backgroundColor="rgba(255,255,255,.9)"
              [visibility]="category.selected ? 'visible' : 'collapse'">
              <Image
                src="res://images/icon-selected"
                stretch="none">
              </Image>
            </FlexboxLayout>
          </GridLayout>

          <Label
            class="footnote text-center text-primary"
            [text]="category.name">
          </Label>
        </StackLayout>
      </FlexboxLayout>

      <!-- Footer controls -->
      <FlexboxLayout
        flexDirection="row"
        justifyContent="space-between"
        class="p-x-10">
        <Button
          class="labeled-icon-btn labeled-icon-btn--arrow-left text-primary p-y-10"
          text="previous"
          [isEnabled]="true"
          (tap)="onBackButtonTap($event)">
        </Button>

        <Button
          class="labeled-icon-btn labeled-icon-btn--arrow-right text-primary p-y-10"
          text="next"
          [isEnabled]="true"
          (tap)="onNextButtonTap($event)">
        </Button>
      </FlexboxLayout>
    </StackLayout>
  </ScrollView>

  <!-- Loading indicator -->
  <GridLayout
    backgroundColor="rgba(255,255,255,.6)"
    [visibility]="isBusy ? 'visible' : 'collapse'">
    <ActivityIndicator
      class="activity-indicator"
      busy="true">
    </ActivityIndicator>
  </GridLayout>
</GridLayout>