<GridLayout
  class="page">
  <RadListView
    class="list-group bg-secondary"
    [items]="timelinePosts$ | async"
    (itemTap)="onItemTap($event)"
    (loadMoreItems)="loadMoreItems()">
    <ng-template
      let-postId="item">
      <StackLayout
        class="bg-secondary">
        <StackLayout
          class="list-group-item p-x-15 p-y-15"
          shadow="10">
          <StackLayout
            borderRadius="30"
            *ngIf="(posts$ | async)[postId] || {}; let post;">
            <!-- User profile (photo & name) -->
            <FlexboxLayout
              flexDirection="row"
              class="list-group-item"
              backgroundColor="white"
              *ngIf="(userProfiles$ | async)[post.user] || {}; let userProfile;">
              <Image
                class="thumb img-circle bg-primary"
                [src]="userProfile.photo || ' '"><!-- TODO: Profile photo placeholder image -->
              </Image>

              <Label
                flexGrow="1"
                class="list-group-item-heading"
                verticalAlignment="center"
                marginTop="5"
                [text]="userProfile.name || ' '">
              </Label>
            </FlexboxLayout>

            <!-- Video container -->
            <AbsoluteLayout
              [height]="videoContainerHeight"
              backgroundColor="black">

              <!-- Thumbnail image (visible when video is not playing) -->
              <Image
                [width]="videoContainerWidth"
                [height]="videoContainerHeight"
                [src]="post.thumbnail?.url"
                stretch="aspectFill">
              </Image>

              <!-- TODO: Load & play when scrolled to screen center (only one video playing at same time) -->
              <!-- Video player -->
              <!-- <VideoPlayer
                [width]="videoContainerWidth"
                [height]="videoContainerHeight"
                [src]="post.video?.url"
                autoplay="false"
                loop="true"
                muted="true"
                controls="false">
              </VideoPlayer> -->

              <!-- FIXME: Adjust display width & height within original video size -->
              <!--
              const videoDisplayWidth = videoContainerWidth;
              const videoDisplayHeight = (post.video.height / post.video.width) * videoDisplayWidth;
              ...
              [width]="videoDisplayWidth"
              [height]="videoDisplayHeight"
              [top]="videoDisplayHeight / -2"
              marginTop="50%"
              -->

              <!-- Title & Caption -->
              <StackLayout
                class="list-group-item"
                width="100%"
                [top]="videoContainerHeight"
                marginTop="-200px"
                backgroundColor="rgba(0,0,0,.5)">
                <Label
                  class="list-group-item-heading text-center"
                  color="white"
                  [text]="post.title || ' '">
                </Label>

                <Label
                  class="list-group-item-text text-center"
                  color="white"
                  [text]="post.caption || ' '">
                </Label>
              </StackLayout>
            </AbsoluteLayout>

            <!-- Action buttons ~ Comments -->
            <StackLayout
              class="list-group-item"
              backgroundColor="white">
              <!-- Action buttons -->
              <FlexboxLayout
                flexDirection="row"
                justifyContent="space-around">
                <Button
                  class="btn icon-btn icon-btn--like">
                </Button>

                <Button
                  class="btn icon-btn icon-btn--share">
                </Button>

                <Button
                  class="btn icon-btn icon-btn--comment">
                </Button>

                <Button
                  class="btn icon-btn icon-btn--bookmark">
                </Button>
              </FlexboxLayout>

              <!-- Horizontal rule -->
              <StackLayout
                class="hr-light m-t-15 m-r-10 m-b-15 m-l-10">
              </StackLayout>

              <!-- Likes -->
              <FlexboxLayout
                flexDirection="row"
                alignItems="center"
                class="list-group-item-heading">
                <Image
                  marginRight="5"
                  src="res://images/icon-like-xs"
                  stretch="none">
                </Image>

                <Label
                  flexGrow="1"
                  [text]="(post.likesCount || 0) + ' likes'">
                </Label>
              </FlexboxLayout>

              <!-- Comments -->
              <Label
                class="list-group-item-text"
                [text]="'view all ' + (post.commentsCount || 0) + ' comments'">
              </Label>
            </StackLayout>
          </StackLayout>
        </StackLayout>
      </StackLayout>
    </ng-template>
  </RadListView>
</GridLayout>
