<SegmentedBar
  class="activity--segmented-bar"
  (selectedIndexChange)="onSegmentedBarIndexChange($event)"
  row="0">
  <SegmentedBarItem
    title="Following">
  </SegmentedBarItem>

  <SegmentedBarItem
    title="You">
  </SegmentedBarItem>
</SegmentedBar>
<app-other-activities
  *ngIf="segmentedBarSelectedIndex === 0">
</app-other-activities>
<app-my-activities
  *ngIf="segmentedBarSelectedIndex === 1">
</app-my-activities>