//------------------------------------------------------------------------------
//
//  Theme core & variables
//
//------------------------------------------------------------------------------

// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import '~nativescript-theme-core/scss/light';
// @import '~nativescript-theme-core/scss/dark';

// Customize any of the theme’s variables here, for instance $btn-color: red;

// Colors
$black: #000 !default;
$white: #fff !default;
$base: $white !default;
$grey: #f2f1f1 !default;
$dark-grey: #7D7D7D !default;
$grey-background: #bababa !default;
$charcoal: #303030 !default;

// accent varieties
// $aqua: #00caab !default;
// $blue: #3d5afe !default;
// $brown: #795548 !default;
// $forest: #006968 !default;
// $grey-dark: #5c687c !default;
// $purple: #8130ff !default;
// $lemon: #ffea00 !default;
// $lime: #aee406 !default;
// $orange: #f57c00 !default;
// $ruby: #ff1744 !default;
// $sky: #30bcff !default;

$primary: #262626;
$secondary: #ABADAE;
$disabled: rgba(255,255,255,.9);
$accent: #098795;
$error: #CF221B;
$bar-primary: #F9F9F9;
$border-primary: #A3A3A3;
$border-secondary: $dark-grey;

// ActionBar
$ab-background: $base;
$ab-color: $primary;

// Skin
// $background: $base;
// $text-color: $primary;

// Buttons
$btn-color: $accent;
// $btn-color-inverse: $white !default;
// $btn-color-secondary: #01a0ec !default;
// $btn-color-outline-highlighted: #c0ebff !default;
// $btn-color-disabled: #a4a4a4 !default;
// $btn-font-size: 18 !default;
// $btn-radius: 0 !default;
// $btn-padding-x: 10 !default;
// $btn-padding-y: 10 !default;
// $btn-margin-x:	16 !default;
// $btn-margin-y:	8 !default;

// Headings
// $headings-margin-bottom: 4 !default;
// $headings-font-weight: normal !default;
// $headings-color: $primary !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
// $enable-rounded:            false !default;
// $enable-shadows:            false !default;
// $enable-gradients:          false !default;
// $enable-transitions:        false !default;

// $item-color-android : #a0a0a0;
// $item-color-ios: #848484;
// $item-active-background: #2b2b2b;
// $item-active-color: $accent;
// $item-active-icon-color: #fff;
// $image-background: #e0e0e0;
// $side-drawer-header-background: $accent;
// $side-drawer-header-brand: #fff;
// $side-drawer-background: $charcoal;

// Import the theme’s main ruleset.
@import '~nativescript-theme-core/scss/index';

//------------------------------------------------------------------------------
//
//  Custom styles
//
//------------------------------------------------------------------------------

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

//--------------------------------------
//  Font
//--------------------------------------

.icon {
  font-family: 'IcoMoon-Free';
  font-size: 30;

  &--small {
    font-size: 20;
  }
}

//--------------------------------------
//  Contextual colors
//--------------------------------------

.text-primary {
  color: $primary;

  &--inverse {
    color: $white;
  }
}

.text-secondary {
  color: $secondary;
}

.text-accent {
  color: $accent;
}

.bg-secondary {
  background-color: $grey;
}

//--------------------------------------
//  Page
//--------------------------------------

.page {
  background-color: $base;
}

//--------------------------------------
//  ActionBar
//--------------------------------------

.action-bar {
  color: $accent;
  background-color: #FFFFFF;
}

.action-item {
  &[isEnabled=false] {
    opacity: .4;
  }
}

//--------------------------------------
//  Button
//--------------------------------------

Button {
  &[isEnabled=false] {
    opacity: .4;
  }
}

.btn-primary {
  &--inverse {
    color: $accent;
    background-color: #DEDDEA;

    &[isEnabled=false] {
      color: $accent;
      background-color: #DEDDEA;
      opacity: .6;
    }
  }
}

.btn-outline {
  &--inverse {
    color: #DEDDEA;
    background-color: $btn-color;
    border-color: #DEDDEA;

    &[isEnabled=false] {
      color: #DEDDEA;
      background-color: $btn-color;
      border-color: #DEDDEA;
      opacity: .6;
    }
  }
}

.btn-alpha {
  color: rgba($color: $white, $alpha: 0.1);
}

.btn-alpha:active {
  color: rgba($color: $white, $alpha: 1);
}

.labeled-icon-btn {
  font-weight: bold;
  background-repeat: no-repeat;

  &[isEnabled=false] {
    opacity: .4;
  }

  &--arrow-right {
    padding-right: 20;
    background-position: right;
    background-image: url('res://images/icon-arrow-right-xs');
  }

  &--arrow-left {
    padding-left: 20;
    background-position: left;
    background-image: url('res://images/icon-arrow-left-xs');
  }
}

.icon-btn {
  padding: 0;
  width: 30;
  height: 30;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  
  &--like {
    background-image: url('res://images/icon-like');
  }

  &--share {
    background-image: url('res://images/icon-share');
  }

  &--bookmark {
    background-image: url('res://images/icon-bookmark');
  }

  &--comment {
    background-image: url('res://images/icon-comment');
  }
}

.icon-btn-s {
  padding: 0;
  width: 20;
  height: 20;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5;

  &--like {
    background-image: url('res://images/icon-like-s');
  }

  &--share {
    background-image: url('res://images/icon-share-s');
  }

  &--bookmark {
    background-image: url('res://images/icon-bookmark-s');
  }

  &--follow {
    background-image: url('res://images/icon-follow-s');
  }
}

//--------------------------------------
//  TabView
//--------------------------------------

.tab-view {
  background-color: $base;
  // tab-text-color: #7edabb;
  selected-tab-text-color: $accent;
  // tab-background-color: #39af8a;
  // android-selected-tab-highlight-color: #185a9d;
}

//--------------------------------------
//  SegmentedBar
//--------------------------------------

.segmented-bar {
  selected-background-color: $accent;
  color: $accent;
  background-color: #ffffff;
}

//--------------------------------------
//  Search components
//--------------------------------------

.search-area {
  height: 100%;
  width: 100%;
}

.search-bar-area {
  height: 10%;
  width: 100%;
  background-color: $bar-primary;

    &--text-field {
      height: 80%;
      width: 90%;
      margin-top: 10%;
      padding-left: 20%;
      border-radius: 40;
      border-width: 0.15;
      border-color: $border-secondary;
      font-size: 15%;
      background-color: $white;
  }
}

.search-result-area {
   height: 90%;
   width: 100%;
   margin-top: 10%;
}

.search-near-posts {
  height: 100%;
  width: 100%;
}

.search-settings {
  height: 100%;
  width: 100%;

    &--label {
      height: 10%;
      margin-top: 35%;
      text-align: center;
    }

    &--button {
      width: 50%;
    }

}

//--------------------------------------
//  Post compoments
//--------------------------------------

#post:active {
  width: 50;
  height: 50;
}

#post-comments-list {
  height: 85;
  padding-top: 12.5;
  padding-bottom: 0;
}

.post-comments-input {
  height: 42.5;
  width: 337;
  margin-left: 19;
  margin-top: 7;
  background-color: white;
  border-radius: 15;
  border-width: 0.5;
  border-color: $border-secondary;
  font-size: 15;

  &--text-view {
    width: 270;
    padding-left: 15;
    vertical-align: middle;
  }

  &--button {
    width: 100;
    font-weight: bold;
    color: $accent;
    &[isEnabled=true] {
      opacity: 1;
    }
    &[isEnabled=false] {
      opacity: .3;
    }
  }
}

.post-comments-bar {
  background-color: $bar-primary;
  height: 57;
  border-top-width: 0.5;
  border-top-color: $border-primary;
}

//--------------------------------------
//  Activity compoments
//--------------------------------------
#activity-list {
  height: 60;
  padding-top: 12.5;
  padding-bottom: 0;
}

.activity {

  &--segmented-bar {
  
  width: 340;
  margin-top: 10;
  margin-bottom: 10;
  selected-background-color: $accent;
  color: $accent;
  background-color: #ffffff;
  }

  &--label {
    width: 100%;
    height: 100%;
  }

  &--text {
    font-size: 13;
    padding: 0;
  }

  &--name {
    font-weight: bold;
  }
}

.btn-follow {
  height: 30;
  width: 80;
  font-size: 20;
  border-radius: 5;
}

//--------------------------------------
//  My Page compoments
//--------------------------------------
.my-profile-area {

}

.my-profile {
  &--img-circle{
    border-radius: 100;
    width: 70;
    height: 70;
  }

  &--text {
    text-align: center;
  }

  &--name {
    font-size : 15;
  }

  &--description {
    width: 80%;
    font-size : 13;
    color: $secondary;
  }
  
  &--misc {
      width: 70%;

    &--label {
      width: 33.3%;
    }

    &--title {
      font-size : 13;
      font-weight: bold;
      text-align: center;
    }

    &--content {
      font-size : 13;
      text-align: center;
    }

  }
}

.my-page-segmented-bar {
  selected-background-color: transparent;
  width: 100%;
  height: 100%;
}

.my-page-segmented-bar-content {
  width: 100%;
  height: 100%;

  &--label {
    width: 50%;
    height: 100%;
    color: $accent;
    text-align: center;
    
    &--active {
      width: 50%;
      height: 100%;
      color: $accent;
      text-align: center;
      font-weight: bold;
    }
  }

}

.my-page-slide-bar {
  width: 100%;
  height: 100%;

  &--element {
    width: 50%;
    height: 100%;
    
    &--active {
      width: 50%;
      height: 100%;
      border-bottom-width: 3;
      border-bottom-color: $accent;
    }
  }
  
}

.my-posts-area {
  background-color: white;
  width: 100%;
  height: 100%;
}

.my-posts-element {
  &--place-image {
    height: 99%;
    width: 99%;
  }

  &--camera-image {
    margin-left: 80%;
    margin-top: 82.5%;
    height: 15%;
    width: 15%;
    opacity: 0.6;
  }
}


//--------------------------------------
//  Other compoments
//--------------------------------------

//------------------------------------------------------------------------------
//
//  Other theme styles
//
//------------------------------------------------------------------------------

/* generated by nativescriptthemebuilder.com */

// .action-bar {
// color: #ffffff;
// }

// .action-bar {
// background-color: #4e7ac7;
// }

// .page {
// background-color: #fafeff;
// }

// .tab-view {
// tab-background-color: #fafeff;
// }

// .list-group, .list-group-item {
// background-color: #fafeff;
// }

// .page label, .tab-view label {
// color: #000000;
// }

// .segmented-bar {
// selected-background-color: #35478c;
// }

// .segmented-bar {
// color: #35478c;
// }

// .segmented-bar {
// background-color: #fafeff;
// }

// .switch[checked=true] {
// color: #ffffff;
// }

// .switch[checked=true] {
// background-color: #35478c;
// }

// .activity-indicator {
// color: #35478c;
// }

// .slider {
// color: #ffffff;
// }

// .slider {
// background-color: #35478c;
// }

// .progress {
// color: #35478c;
// }

// .img-circle {
// border-radius: 20;
// }

// .list-group-item-heading {
// font-size: 16;
// }

// .list-group-item-text {
// font-size: 14;
// }

// .img-rounded {
// border-radius: 5;
// }

// .body {
// font-size: 14;
// }

// .h1 {
// font-size: 36;
// }

// .h2 {
// font-size: 30;
// }

// .h3 {
// font-size: 24;
// }

// .h4 {
// font-size: 18;
// }

// .h5 {
// font-size: 14;
// }

// .h6 {
// font-size: 12;
// }

// .page label.text-primary, .tab-view label.text-primary {
// color: #30bcff;
// }

// .page label.bg-primary, .tab-view label.bg-primary {
// background-color: #30bcff;
// }

// .page label.text-danger, .tab-view label.text-danger {
// color: #d9534f;
// }

// .page label.bg-danger, .tab-view label.bg-danger {
// background-color: #d9534f;
// }

// .page label.text-muted, .tab-view label.text-muted {
// color: #a2a2a2;
// }

// .btn {
// color: #35478c;
// }

// .btn-primary {
// background-color: #35478c;
// }

// .btn-primary {
// border-color: #35478c;
// }

// .btn-primary {
// color: #4e7ac7;
// }

// .btn-outline {
// border-color: #35478c;
// }

// .btn-outline {
// background-color: transparent;
// }

// .btn-outline {
// border-width: 1;
// }

// .btn-outline {
// color: #35478c;
// }

// .btn[isEnabled=false] {
// background-color: #35478c;
// }

// .btn[isEnabled=false] {
// border-color: #35478c;
// }

// .btn[isEnabled=false] {
// color: #4e7ac7;
// }

// .btn-rounded-sm {
// border-radius: 4;
// }

// .btn-rounded-lg {
// border-radius: 20;
// }

// .label {
// font-size: 16;
// }

// .input {
// font-size: 14;
// }

// .input-rounded {
// border-radius: 30;
// }

// .tab-view {
// selected-tab-text-color: #ffffff;
// }

// .tab-view {
// tab-text-color: #ffffff;
// }

// .tab-view {
// tab-background-color: #35478c;
// }

// .tab-view {
// android-selected-tab-highlight-color: #4e7ac7;
// }

// .sidedrawer-header {
// background-color: #4e7ac7;
// }

// .sidedrawer-header-brand {
// color: #ffffff;
// }

// .sidedrawer-content {
// background-color: #fafeff;
// }

// .sidedrawer-list-item {
// color: #000000;
// }

// .sidedrawer-list-item.active {
// background-color: #fafeff;
// }

// .sidedrawer-list-item.active {
// color: #000000;
// }