<ActionBar 
  class="action-bar"
  title="Likes">
  <NavigationButton 
    icon="res://ic_arrow_back_black_24dp">
  </NavigationButton>
</ActionBar>

<GridLayout>
  <RadListView
    [items]="likes$ | async"
    class="list-group"
    autoSize="false"
    textWrap="false"
    row="0">
    <ng-template
      let-like="item">
      <GridLayout
        class="list-group-item"
        id="post-list-layout"
        rows="*, auto"
        columns="auto, *">
        
        <Image
          row="0"
          col="0"
          [src]="(userProfiles$ | async)[like.user]?.photo || ' '"
          class="thumb img-circle">
        </Image>

        <StackLayout
          row="0"
          col="1">
          <StackLayout
            orientation="horizontal">
            <Label
              [text]="(userProfiles$ | async)[like.user]?.name || ' '"
              width="60%"
              textAlignment="left">
            </Label>

            <Label 
              [text]="(like.timestamp | dateFormatPipe)"
              width="40%"
              class="text-secondary"
              textAlignment="right">
            </Label>
          </StackLayout>

        </StackLayout>

        <StackLayout
          row="1"
          colSpan="2">
          <StackLayout
            class="hr-light m-t-10 m-b-0 m-r-10 m-l-10">
          </StackLayout>
        </StackLayout>
      </GridLayout>
    </ng-template>
  </RadListView>
</GridLayout>