<!-- TODO: Show profile and setting button -->

<!-- FIXME: Hide if current login status is anonymous -->
<!-- <Button
  class="btn btn-outline"
  text="Sign Out"
  (tap)="onSignOutTap($event)">
</Button> -->
<GridLayout
  rows="7*,2*,12*">
  <app-my-profile
    row="0">
  </app-my-profile>

  <AbsoluteLayout
    row="1">
    <StackLayout
      orientation="horizontal"
      verticalAlignment="center"
      class="my-page-slide-bar">
      <StackLayout
        class="my-page-slide-bar--element--active"
        *ngIf="segmentedBarSelectedIndex === 0">
      </StackLayout>

      <StackLayout
        class="my-page-slide-bar--element"
        *ngIf="segmentedBarSelectedIndex === 1">
      </StackLayout>

      <StackLayout
        class="my-page-slide-bar--element--active"
        *ngIf="segmentedBarSelectedIndex === 1">
      </StackLayout>
      <StackLayout
        class="my-page-slide-bar--element"
        *ngIf="segmentedBarSelectedIndex === 0">
      </StackLayout>
    </StackLayout>

    <StackLayout
      orientation="horizontal"
      verticalAlignment="center"
      class="my-page-segmented-bar-content">      
      <Label
        class="my-page-segmented-bar-content--label--active"
        text="My Posts"
        *ngIf="segmentedBarSelectedIndex === 0">
      </Label>
      
      <Label
        class="my-page-segmented-bar-content--label"
        text="My Posts"
        *ngIf="segmentedBarSelectedIndex === 1">
      </Label>

      <Label
        class="my-page-segmented-bar-content--label--active"
        text="Favorites"
        *ngIf="segmentedBarSelectedIndex === 1">
      </Label>

      <Label
        class="my-page-segmented-bar-content--label"
        text="Favorites"
        *ngIf="segmentedBarSelectedIndex === 0">
      </Label>      
    </StackLayout>
    <SegmentedBar
      class="my-page-segmented-bar"
      (selectedIndexChange)="onSegmentedBarIndexChange($event)">
      <SegmentedBarItem>
      </SegmentedBarItem>

      <SegmentedBarItem>
      </SegmentedBarItem>
    </SegmentedBar>
  </AbsoluteLayout>
  <!-- <StackLayout
    row="2"
    orientation="horizontal">
    <StackLayout
       class="my-page-slide-bar"
       *ngIf="segmentedBarSelectedIndex === 0">
    </StackLayout>
    <StackLayout
       class="my-page-slide-bar"
       *ngIf="segmentedBarSelectedIndex === 1"
       marginLeft="50%">
    </StackLayout>
  </StackLayout> -->
  <AbsoluteLayout
    row="2"
    class="my-posts-common-area">
    <app-my-posts
      *ngIf="segmentedBarSelectedIndex === 0">
    </app-my-posts>

    <app-my-favorites
      *ngIf="segmentedBarSelectedIndex === 1">
    </app-my-favorites>
  </AbsoluteLayout>
</GridLayout>