<AbsoluteLayout
  class="search-area">
  <app-search-bar>
  </app-search-bar>
  <app-search-near-posts
    *ngIf="(location$ | async) || false; else elseBlock ">
  </app-search-near-posts>

  <ng-template #elseBlock>
      <app-search-settings>
      </app-search-settings>
  </ng-template>
</AbsoluteLayout>