<ActionBar
  class="action-bar"
  [title]="(posts$ | async)[postId].title || ' '">
  <NavigationButton
    icon="res://ic_arrow_back_black_24dp">
  </NavigationButton>
  <!-- <Button
    class="btn-mood text-uppercase"
    text="Show all comments"
    (tap)="onShowAllCommentsButtonTap($event)">
  </Button> -->
</ActionBar>

<ScrollView
  orientation="vertical"
  class="page">
  <StackLayout
    *ngIf="(posts$ | async)[postId] || {}; let post;">
    <!-- User profile (photo & name), action buttons -->
    <FlexboxLayout
      flexDirection="row"
      class="p-x-15 p-y-15"
      backgroundColor="white"
      *ngIf="(userProfiles$ | async)[post.user] || {}; let userProfile;">
      <!-- Profile photo -->
      <Image
        class="thumb img-circle bg-primary"
        width="40" height="40"
        marginRight="10"
        [src]="userProfile.photo || ' '"><!-- TODO: Profile photo placeholder image -->
      </Image>

      <!-- Profile name -->
      <Label
        flexGrow="1"
        verticalAlignment="center"
        [text]="userProfile.name || ' '">
      </Label>

      <!-- Action buttions -->
      <StackLayout
        orientation="horizontal">
        <Button
          class="btn icon-btn-s icon-btn-s--follow">
        </Button>

        <Button
          class="btn icon-btn-s icon-btn-s--like">
        </Button>

        <Button
          class="btn icon-btn-s icon-btn-s--share">
        </Button>

        <Button
          class="btn icon-btn-s icon-btn-s--bookmark">
        </Button>
      </StackLayout>
    </FlexboxLayout>

    <!-- Video container -->
    <AbsoluteLayout
      [height]="videoContainerHeight"
      backgroundColor="black">

      <!-- Thumbnail image (visible when video is not playing) -->
      <Image
        [width]="videoContainerWidth"
        [height]="videoContainerHeight"
        [src]="post.thumbnail?.url"
        stretch="aspectFill">
      </Image>

      <!-- TODO: Load & play/stop (fix position to screen top when scroll? or stop?) -->
      <!-- Video player -->
      <!-- <VideoPlayer
        #videoPlayer
        [width]="videoContainerWidth"
        [height]="videoContainerHeight"
        [src]="post.video?.url"
        autoplay="false"
        loop="false"
        muted="false"
        controls="true"
        (playbackReady)="onVideoPlayerReady($event)"
        (finished)="onVideoPlayerFinished($event)">
      </VideoPlayer> -->

      <!-- FIXME: Adjust display width & height within original video size -->
      <!--
      const videoDisplayWidth = videoContainerWidth;
      const videoDisplayHeight = (post.video.height / post.video.width) * videoDisplayWidth;
      ...
      [width]="videoDisplayWidth"
      [height]="videoDisplayHeight"
      [top]="videoDisplayHeight / -2"
      marginTop="50%"
      -->
    </AbsoluteLayout>

    <!-- Likes ~ Comments -->
    <StackLayout
      class="p-15">
      <!-- Likes -->
      <!-- TODO: Data binding -->
      <WrapLayout
        class="body text-primary"
        (tap)="onLikesTap($event)">
        <Image
          marginRight="5"
          src="res://images/icon-like-xs"
          stretch="none">
        </Image>

        <Label
          class="font-weight-bold"
          [text]="post.likesCount + ' likes - '">
        </Label>

        <!-- Recently liked people ~ -->
        <Label
          class="font-weight-bold"
          [text]="'Yuki Kamimoto'">
        </Label>

        <Label text=", "></Label>

        <Label
          class="font-weight-bold"
          [text]="'Yumi Hatsushika'">
        </Label>

        <Label text=", "></Label>

        <Label
          class="font-weight-bold"
          [text]="'Gunho Park'">
        </Label>

        <Label text=" "></Label>
        <!-- ~ Recently liked people -->

        <Label text="and "></Label>

        <Label
          class="font-weight-bold"
          [text]="post.likesCount + ' '">
        </Label>

        <Label
          class="font-weight-bold"
          text="other ">
        </Label>

        <Label
          class="font-weight-bold"
          text="people ">
        </Label>

        <Label text="liked this"></Label>
      </WrapLayout>

      <!-- Horizontal rule -->
      <StackLayout
        class="hr-light m-y-15">
      </StackLayout>

      <!-- Caption -->
      <Label
        class="body"
        [text]="post.caption || ' '"
        textWrap="true">
      </Label>

      <!-- Horizontal rule -->
      <StackLayout
        class="hr-light m-y-15">
      </StackLayout>

      <!-- Comments -->
      <StackLayout>
        <!-- Recently added comments -->
        <!-- TODO: Data binding -->
        <GridLayout
          rows="auto, auto"
          columns="auto, *"
          class="body">
          <Label
            row="0" col="0"
            verticalAlignment="top"
            class="font-weight-bold text-primary m-r-20 m-b-10"
            [text]="'Yuki Kamimoto'">
          </Label>
          <Label
            row="0" col="1"
            textWrap="true"
            class="m-b-10"
            [text]="'Get Around Easily With A New York Limousine Service.'">
          </Label>

          <Label
            row="1" col="0"
            verticalAlignment="top"
            class="font-weight-bold text-primary m-r-20 m-b-10"
            [text]="'Hatsushika Yumi'">
          </Label>
          <Label
            row="1" col="1"
            textWrap="true"
            class="m-b-10"
            [text]="'Become A Travel PRO In One Easy Lesson'">
          </Label>
        </GridLayout>

        <!-- Show all comments button -->
        <Button
          class="btn btn-rounded-lg btn-primary text-uppercase"
          text="Show all comments"
          (touch)="onShowAllCommentsButtonTap($event)">
        </Button>
      </StackLayout>
    </StackLayout>

    <!-- Statistics & Star rate -->
    <!-- TODO: Data binding -->
    <StackLayout
      shadow="6"
      class="p-x-15 p-b-15">
      <StackLayout
        class="p-15"
        backgroundColor="white"
        borderRadius="15">
        <!-- Statistics -->
        <FlexboxLayout
          flexDirection="row">
          <!-- 1st statistic -->
          <StackLayout
            class="m-5">
            <GridLayout
              height="100">
              <RadRadialGauge>
                <RadialScale tkRadialGaugeScales startAngle="135" sweepAngle="270" minimum="0" maximum="100">
                  <ScaleStyle tkRadialScaleStyle ticksVisible="false" labelsVisible="false" lineThickness="0">
                  </ScaleStyle>
      
                  <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="100">
                    <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="#EBEFF4" cap="Round" barWidth="0.16">
                    </BarIndicatorStyle>
                  </RadialBarIndicator>
      
                  <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="75" isAnimated="true" animationDuration="1000">
                    <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="#4FD2C2" cap="Round" barWidth="0.16">
                    </BarIndicatorStyle>
                  </RadialBarIndicator>
                </RadialScale>
              </RadRadialGauge>

              <Label
                class="h3 text-center"
                marginBottom="0"
                [text]="'75' + '%'">
              </Label>
            </GridLayout>

            <Label
              class="footnote text-center text-primary"
              [text]="'Groumet'">
            </Label>
          </StackLayout>

          <!-- 2nd statistic -->
          <StackLayout
            class="m-5">
            <GridLayout
              height="100">
              <RadRadialGauge>
                <RadialScale tkRadialGaugeScales startAngle="135" sweepAngle="270" minimum="0" maximum="100">
                  <ScaleStyle tkRadialScaleStyle ticksVisible="false" labelsVisible="false" lineThickness="0">
                  </ScaleStyle>
      
                  <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="100">
                    <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="#EBEFF4" cap="Round" barWidth="0.16">
                    </BarIndicatorStyle>
                  </RadialBarIndicator>
      
                  <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="25" isAnimated="true" animationDuration="1000">
                    <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="#CF221B" cap="Round" barWidth="0.16">
                    </BarIndicatorStyle>
                  </RadialBarIndicator>
                </RadialScale>
              </RadRadialGauge>

              <Label
                class="h3 text-center"
                marginBottom="0"
                [text]="'25' + '%'">
              </Label>
            </GridLayout>

            <Label
              class="footnote text-center text-primary"
              [text]="'Luxury'">
            </Label>
          </StackLayout>

          <!-- 3rd statistic -->
          <StackLayout
            class="m-5">
            <GridLayout
              height="100">
              <RadRadialGauge>
                <RadialScale tkRadialGaugeScales startAngle="135" sweepAngle="270" minimum="0" maximum="100">
                  <ScaleStyle tkRadialScaleStyle ticksVisible="false" labelsVisible="false" lineThickness="0">
                  </ScaleStyle>
      
                  <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="100">
                    <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="#EBEFF4" cap="Round" barWidth="0.16">
                    </BarIndicatorStyle>
                  </RadialBarIndicator>
      
                  <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="50" isAnimated="true" animationDuration="1000">
                    <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="#FFB300" cap="Round" barWidth="0.16">
                    </BarIndicatorStyle>
                  </RadialBarIndicator>
                </RadialScale>
              </RadRadialGauge>

              <Label
                class="h3 text-center"
                marginBottom="0"
                [text]="'50' + '%'">
              </Label>
            </GridLayout>

            <Label
              class="footnote text-center text-primary"
              [text]="'Music'">
            </Label>
          </StackLayout>

          <!-- 4th statistic -->
          <StackLayout
            class="m-5">
            <GridLayout
              height="100">
              <RadRadialGauge>
                <RadialScale tkRadialGaugeScales startAngle="135" sweepAngle="270" minimum="0" maximum="100">
                  <ScaleStyle tkRadialScaleStyle ticksVisible="false" labelsVisible="false" lineThickness="0">
                  </ScaleStyle>
      
                  <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="100">
                    <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="#EBEFF4" cap="Round" barWidth="0.16">
                    </BarIndicatorStyle>
                  </RadialBarIndicator>
      
                  <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="75" isAnimated="true" animationDuration="1000">
                    <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="#8C87FC" cap="Round" barWidth="0.16">
                    </BarIndicatorStyle>
                  </RadialBarIndicator>
                </RadialScale>
              </RadRadialGauge>

              <Label
                class="h3 text-center"
                marginBottom="0"
                [text]="'75' + '%'">
              </Label>
            </GridLayout>

            <Label
              class="footnote text-center text-primary"
              [text]="'Nightlife'">
            </Label>
          </StackLayout>
        </FlexboxLayout>

        <!-- Star rate -->
        <FlexboxLayout
          justifyContent="center"
          alignItems="center"
          class="m-y-10">
          <Label
            class="h2 text-center m-5"
            [text]="'3.5'">
          </Label>

          <Image src="res://images/icon-star-s-active" stretch="none" class="m-2"></Image>
          <Image src="res://images/icon-star-s-active" stretch="none" class="m-2"></Image>
          <Image src="res://images/icon-star-s-active" stretch="none" class="m-2"></Image>
          <Image src="res://images/icon-star-s-active-half" stretch="none" class="m-2"></Image>
          <Image src="res://images/icon-star-s" stretch="none" class="m-2"></Image>
        </FlexboxLayout>
      </StackLayout>
    </StackLayout>

    <!-- Place details (address, phone number, website, etc.) -->
    <!-- TODO: Data binding -->
    <StackLayout>
      <!-- Address -->
      <GridLayout
        rows="auto, auto"
        columns="*, auto"
        class="body p-x-15 p-y-20">
        <Label
          row="0" col="0"
          class="h3 text-uppercase p-b-15"
          text="Address">
        </Label>

        <Label
          row="1" col="0"
          class="text-primary font-weight-bold m-r-15"
          [text]="'Enoshima, Fujisawa 251-0036, Kanagawa Prefecture'"
          textWrap="true">
        </Label>

        <Image
          row="0" col="1" rowSpan="2"
          verticalAlignment="center"
          src="res://images/icon-spot-s"
          stretch="none">
        </Image>
      </GridLayout>

      <!-- Phone number -->
      <GridLayout
        rows="auto, auto"
        columns="*, auto"
        class="body p-x-15 p-y-20">
        <Label
          row="0" col="0"
          class="h3 text-uppercase p-b-15"
          text="Phone number">
        </Label>

        <Label
          row="1" col="0"
          class="text-primary font-weight-bold m-r-15"
          [text]="'+81 466-24-4141'"
          textWrap="true">
        </Label>

        <Image
          row="0" col="1" rowSpan="2"
          verticalAlignment="center"
          src="res://images/icon-phone-s"
          stretch="none"
          class="m-2">
        </Image>
      </GridLayout>

      <!-- Website -->
      <GridLayout
        rows="auto, auto"
        columns="*, auto"
        class="body p-x-15 p-y-20 bg-primary">
        <Label
          row="0" col="0"
          class="h3 text-uppercase text-primary--inverse p-b-15"
          text="Website">
        </Label>

        <Label
          row="1" col="0"
          class="text-primary--inverse font-weight-bold m-r-15"
          [text]="'http://www.fujisawa-kanko.jp'"
          textWrap="true">
        </Label>

        <Image
          row="0" col="1" rowSpan="2"
          verticalAlignment="center"
          src="res://images/icon-arrow-inverse"
          stretch="none">
        </Image>
      </GridLayout>

      <!-- Horizontal rule -->
      <StackLayout
        class="hr-light">
      </StackLayout>

      <!-- Find a table -->
      <GridLayout
        rows="auto, auto"
        columns="*, auto"
        class="body p-x-15 p-y-20 bg-primary">
        <Label
          row="0" col="0"
          class="h3 text-uppercase text-primary--inverse p-b-15"
          text="Find a table">
        </Label>

        <Label
          row="1" col="0"
          class="text-primary--inverse font-weight-bold m-r-15"
          [text]="'http://www.hot-pepper.jp'"
          textWrap="true">
        </Label>

        <Image
          row="0" col="1" rowSpan="2"
          verticalAlignment="center"
          src="res://images/icon-arrow-inverse"
          stretch="none">
        </Image>
      </GridLayout>
    </StackLayout>
  </StackLayout>
</ScrollView>
