<GridLayout
  class="page">
  <ScrollView
    orientation="vertical">
    <StackLayout
      class="p-30">
      <!-- Title -->
      <Label
        class="h1 title text-accent text-center"
        text="Let us know about you">
      </Label>

      <StackLayout
        class="form m-y-20">
        <!-- Profile photo -->
        <FlexboxLayout
          flexDirection="column"
          alignItems="center">
          <Image 
            class="bg-primary"
            height="100" width="100"
            borderRadius="50"[src]="photo"
            stretch="aspectFill">
          </Image>

          <!-- TODO: Profile photo selector -->
          <Button
            class="btn"
            text="Edit Photo"
            (tap)="onEditPhotoTap($event)">
          </Button>
        </FlexboxLayout>

        <!-- Gender selector -->
        <GridLayout
          rows="auto"
          columns="*, *"
          class="m-b-20">
          <Button
            col="0"
            [class]="'btn btn-rounded-lg ' + (gender == 'female' ? 'btn-primary' : 'btn-outline')"
            text="Female"
            (tap)="onGenderFemaleButtonTap($event)">
          </Button>

          <Button
            col="1"
            [class]="'btn btn-rounded-lg ' + (gender == 'male' ? 'btn-primary' : 'btn-outline')"
            text="Male"
            (tap)="onGenderMaleButtonTap($event)">
          </Button>
        </GridLayout>

        <!-- Profile name ~ description form -->
        <StackLayout
          class="input-field">
          <!-- Name input ~ -->
          <Label
            text="Name"
            class="label font-weight-bold m-b-2">
          </Label>

          <Label
            text="Choose your preferred name"
            class="footnote m-b-5">
          </Label>

          <TextField
            class="input"
            [(ngModel)]="name"
            returnKeyType="done">
          </TextField>

          <StackLayout
            class="hr-light m-b-15">
          </StackLayout>
          <!-- ~ Name input -->

          <!-- Description input ~ -->
          <Label
            text="Description"
            class="label font-weight-bold m-b-2">
          </Label>

          <Label
            text="A brief biography to introduce yourself"
            class="footnote m-b-5">
          </Label>

          <TextView
            #descriptionTextView
            class="input"
            marginLeft="-4"
            marginRight="-4"
            [height]="descriptionTextViewHeight"
            [(ngModel)]="description"
            (textChange)="onDescriptionTextViewTextChange($event)">
          </TextView>

          <StackLayout
            class="hr-light">
          </StackLayout>
          <!-- ~ Description input -->
        </StackLayout>

        <!-- TODO: Area selector (optional) -->
      </StackLayout>

      <!-- Footer controls -->
      <FlexboxLayout
        flexDirection="row"
        justifyContent="flex-end">
        <!-- Required fields: photo, name, gender -->
        <Button
          class="labeled-icon-btn labeled-icon-btn--arrow-right text-primary p-y-10"
          text="next"
          [isEnabled]="photo != '' && name != '' && gender != ''"
          (tap)="onNextButtonTap($event)">
        </Button>
      </FlexboxLayout>
    </StackLayout>
  </ScrollView>

  <!-- Loading indicator -->
  <GridLayout
    backgroundColor="rgba(255,255,255,.6)"
    [visibility]="isBusy ? 'visible' : 'collapse'">
    <ActivityIndicator
      class="activity-indicator"
      busy="true">
    </ActivityIndicator>
  </GridLayout>
</GridLayout>