<GridLayout
  class="my-posts-area">
  <RadListView
    [items]="posts"
    class="list-group"
    autoSize="false"
    textWrap="false">
    <ListViewGridLayout
      tkListViewLayout
      scrollDirection="Vertical"
      ios:itemHeight="124"
      spanCount="3">
      <ng-template
        let-post="item">
        <AbsoluteLayout>
          <Image
            class="my-posts-element--place-image"
            [src]="post.thumbnail.url"
            stretch="aspectFill">
          </Image>

          <Image
            class="my-posts-element--camera-image"
            src="res://images/icon-video-camera">
          </Image>
        </AbsoluteLayout>
      </ng-template>
    </ListViewGridLayout>
  </RadListView>
</GridLayout>