<StackLayout
  orientation="vertical"
  horizontalAlignment="center">
  <Image
    [src]="user.photo"
    class="thumb my-profile--img-circle bg-primary"
    marginTop="20">
  </Image>
  <Label
    [text]="user.name"
    class="my-profile--text my-profile--name"
    marginTop="10"
    textWrap="false">
  </Label>
  <Label
    [text]="user.description"
    class="my-profile--text my-profile--description"
    textWrap="true">
  </Label>
  <StackLayout
    orientation="horizontal"
    verticalAlignment="center"
    class="my-profile--misc"
    marginTop="5">
    <StackLayout
      orientation="vertical"
      horizontalAlignment="center"
      class="my-profile--misc--label">
      <Label
        text="Posts"
        class="my-profile--misc--title">
      </Label>
      <Label
        [text]="user.posts"
        class="my-profile--misc--content">
      </Label>
    </StackLayout>
    <StackLayout
      orientation="vertical"
      horizontalAlignment="center"
      class="my-profile--misc--label">
      <Label
        text="Followers"
        class="my-profile--misc--title">
      </Label>
      <Label
        [text]="user.followers"
        class="my-profile--misc--content">
      </Label>
    </StackLayout>
    <StackLayout
      orientation="vertical"
      horizontalAlignment="center"
      class="my-profile--misc--label">
      <Label
        text="Following"
        class="my-profile--misc--title">
      </Label>
      <Label
        [text]="user.following"
        class="my-profile--misc--content">
      </Label>
    </StackLayout>

    
  </StackLayout>

</StackLayout>
