<AbsoluteLayout
  class="search-result-area">
  <StackLayout 
    class="search-settings">
    <Label 
      [text]="searchGuideMessage"
      class="text-accent search-settings--label"
      TextAlignment="center">
    </Label>

    <Button
      text="Turn location on"
      class="btn btn-rounded-lg btn-primary text-uppercase search-settings--button"
      (tap)="buttonGetLocationTap($event)">
    </Button>
  </StackLayout>
</AbsoluteLayout>