<GridLayout
  rows="auto, *, auto"
  columns="auto, *, auto">
  <!-- Video recorder (camera preview) -->
  <!-- FIXME: Camera preview delay when record stopped!? -->
  <AdvancedVideoView
    #videoRecorderAdvanced
    rowSpan="3"
    colSpan="3"
    [cameraPosition]="cameraPosition"
    [quality]="quality">
  </AdvancedVideoView>

  <!-- Preview video player -->
  <!-- FIXME: Too weight to smooth screen initializing!? -->
  <VideoPlayer
    #previewVideoPlayer
    rowSpan="3"
    colSpan="3"
    [visibility]="viewMode == VIEW_MODE_PREVIEW ? 'visible' : 'hidden'"
    autoplay="false"
    loop="true"
    muted="false"
    controls="false"
    (playbackReady)="onPreviewVideoPlayerReady()"
    (finished)="onPreviewVideoPlayerFinished()">
  </VideoPlayer>

  <!-- Progress indicator -->
  <GridLayout
    row="0"
    colSpan="3"
    opacity=".8">
    <!-- Indicator base -->
    <StackLayout
      width="100%"
      height="5"
      backgroundColor="rgba(0, 0, 0, .1)">
    </StackLayout>
  
    <!-- Minmum record duration -->
    <StackLayout
      horizontalAlignment="left"
      [width]="(MIN_RECORD_DURATION / MAX_RECORD_DURATION) * 100 + '%'"
      height="5"
      borderRightWidth="1"
      borderRightColor="rgba(255, 255, 255, .6)">
    </StackLayout>

    <!-- Recorded videos (video cut) -->
    <FlexboxLayout
      flexDirection="row"
      justifyContent="flex-start">
      <StackLayout
        *ngFor="let recordedVideo of recordedVideos; let index = index; let isLast = last;"
        [class]="'recorded-cut-indicator' + (index == previewVideoIndex && !isPreviewVideoPaused ? ' recorded-cut-indicator--animate' : '')"
        [width]="(recordedVideo.duration / MAX_RECORD_DURATION) * 100 + '%'"
        [borderRightWidth]="isMaxDurationRecorded && isLast ? 0 : 1">
      </StackLayout>

      <!-- Current recording progress -->
      <StackLayout
        class="recording-cut-indicator"
        [width]="(recordProgress / MAX_RECORD_DURATION) * 100 + '%'">
      </StackLayout>
    </FlexboxLayout>
  </GridLayout>

  <!-- Left controls -->
  <FlexboxLayout
    row="0"
    rowSpan="2"
    col="0"
    flexDirection="column"
    alignItems="center"
    justifyContent="center"
    class="p-10">
    <!-- Preview mode controls -->
    <StackLayout
      [visibility]="viewMode == VIEW_MODE_PREVIEW ? 'visible' : 'collapse'">
      <!-- Unmute volume -->
      <Button
        class="icon text-primary--inverse m-10"
        [visibility]="isPreviewVideoMuted ? 'visible' : 'collapse'"
        [text]="'0xea2a' | iconFontString"
        (tap)="onPreviewVideoUnmuteButtonTap($event)">
      </Button>

      <!-- Mute volume ~ -->
      <Button
        class="icon text-primary--inverse m-10"
        [visibility]="!isPreviewVideoMuted && previewVideoVolume >= 0.8 ? 'visible' : 'collapse'"
        [text]="'0xea26' | iconFontString"
        (tap)="onPreviewVideoMuteButtonTap($event)">
      </Button>

      <Button
        class="icon text-primary--inverse m-10"
        [visibility]="!isPreviewVideoMuted && previewVideoVolume >= 0.4 && previewVideoVolume <= 0.6 ? 'visible' : 'collapse'"
        [text]="'0xea27' | iconFontString"
        (tap)="onPreviewVideoMuteButtonTap($event)">
      </Button>

      <Button
        class="icon text-primary--inverse m-10"
        [visibility]="!isPreviewVideoMuted && previewVideoVolume == 0.2 ? 'visible' : 'collapse'"
        [text]="'0xea28' | iconFontString"
        (tap)="onPreviewVideoMuteButtonTap($event)">
      </Button>

      <Button
        class="icon text-primary--inverse m-10"
        [visibility]="!isPreviewVideoMuted && previewVideoVolume == 0 ? 'visible' : 'collapse'"
        [text]="'0xea29' | iconFontString"
        (tap)="onPreviewVideoMuteButtonTap($event)">
      </Button>
      <!-- ~ Mute volume -->

      <!-- Increase volume -->
      <Button
        class="icon text-primary--inverse m-10"
        [text]="'0xea2b' | iconFontString"
        [isEnabled]="!isPreviewVideoMuted && previewVideoVolume < 1"
        (tap)="onPreviewVideoIncreaseVolumeButtonTap($event)">
      </Button>

      <!-- Decrease volume -->
      <Button
        class="icon text-primary--inverse m-10"
        [text]="'0xea2c' | iconFontString"
        [isEnabled]="!isPreviewVideoMuted && previewVideoVolume > 0"
        (tap)="onPreviewVideoDecreaseVolumeButtonTap($event)">
      </Button>
    </StackLayout>
  </FlexboxLayout>

  <!-- Right controls -->
  <FlexboxLayout
    row="0"
    rowSpan="2"
    col="2"
    flexDirection="column"
    alignItems="center"
    justifyContent="center"
    class="p-10">
    <!-- Record mode controls -->
    <StackLayout
      [visibility]="viewMode == VIEW_MODE_RECORD ? 'visible' : 'collapse'">
      <!-- Toggle camera -->
      <Button
        class="icon text-primary--inverse m-10"
        [text]="'0xea2e' | iconFontString"
        [isEnabled]="!isRecording"
        (tap)="onToggleCameraButtonTap($event)">
      </Button>

      <!-- Retake -->
      <Button
        class="icon text-primary--inverse m-10"
        [text]="'0xe94d' | iconFontString"
        [isEnabled]="recordedVideos.length > 0"
        (tap)="onRetakeButtonTap($event)">
      </Button>
    </StackLayout>

    <!-- Preview mode controls -->
    <StackLayout
      [visibility]="viewMode == VIEW_MODE_PREVIEW ? 'visible' : 'collapse'">
      <!-- TODO: Filter effect -->
      <Button
        class="icon text-primary--inverse m-10"
        [text]="'0xe997' | iconFontString"
        isEnabled="false"
        (tap)="onFilterEffectButtonTap($event)">
      </Button>

      <!-- Remove selected video (video cut) -->
      <Button
        class="icon text-primary--inverse m-10"
        [text]="'0xe9ac' | iconFontString"
        (tap)="onRemoveVideoButtonTap($event)">
      </Button>
    </StackLayout>
  </FlexboxLayout>

  <!-- Bottom controls -->
  <FlexboxLayout
    row="2"
    colSpan="3"
    flexDirection="column"
    alignItems="center"
    justifyContent="center">
    <!-- Record mode control -->
    <GridLayout
      width="90"
      height="90"
      margin="20"
      borderRadius="45"
      borderColor="white"
      borderWidth="4"
      [visibility]="viewMode == VIEW_MODE_RECORD ? 'visible' : 'collapse'"
      [opacity]="isRecording || isMaxDurationRecorded ? .4 : 1">
      <!-- Record button -->
      <GridLayout
        width="70"
        height="70"
        borderRadius="35"
        backgroundColor="rgba(9, 135, 149, .6)"
        (touch)="onRecordButtonTouch($event)">
        <!-- Complete icon -->
        <Label
          class="icon text-primary--inverse text-center"
          [visibility]="isMaxDurationRecorded ? 'visible' : 'hidden'"
          [text]="'0xea10' | iconFontString">
        </Label>
      </GridLayout>
    </GridLayout>

    <!-- Preview mode controls -->
    <FlexboxLayout
      flexDirection="row"
      alignItems="center"
      justifyContent="center"
      class="p-10"
      [visibility]="viewMode == VIEW_MODE_PREVIEW ? 'visible' : 'collapse'">
      <!-- Previous button -->
      <Button
        class="icon text-primary--inverse m-x-20 m-y-10"
        [text]="'0xea23' | iconFontString"
        [isEnabled]="previewVideoIndex > 0"
        (tap)="onPreviewVideoPrevButtonTap($event)">
      </Button>

      <!-- Play button -->
      <Button
        *ngIf="isPreviewVideoPaused"
        class="icon text-primary--inverse m-x-20 m-y-10"
        [text]="'0xea1c' | iconFontString"
        (tap)="onPreviewVideoPlayButtonTap($event)">
      </Button>

      <!-- Pause button -->
      <Button
        *ngIf="!isPreviewVideoPaused"
        class="icon text-primary--inverse m-x-20 m-y-10"
        [text]="'0xea1d' | iconFontString"
        (tap)="onPreviewVideoPauseButtonTap($event)">
      </Button>

      <!-- Next button -->
      <Button
        class="icon text-primary--inverse m-x-20 m-y-10"
        [text]="'0xea24' | iconFontString"
        [isEnabled]="previewVideoIndex < recordedVideos.length - 1"
        (tap)="onPreviewVideoNextButtonTap($event)">
      </Button>
    </FlexboxLayout>
  </FlexboxLayout>

  <!-- Cancel button -->
  <Button
    row="0"
    col="0"
    class="icon icon--small text-primary--inverse p-10 m-10"
    [visibility]="viewMode == VIEW_MODE_RECORD ? 'visible' : 'collapse'"
    [text]="'0xea0f' | iconFontString"
    (tap)="onCancelButtonTap($event)">
  </Button>

  <!-- Forward (switch to preview mode) button -->
  <Button
    row="0"
    col="2"
    class="icon text-primary--inverse p-10 m-10"
    [visibility]="viewMode == VIEW_MODE_RECORD ? 'visible' : 'collapse'"
    [text]="'0xea3c' | iconFontString"
    [isEnabled]="recordedVideos.length > 0"
    (tap)="onForwardButtonTap($event)">
  </Button>

  <!-- Back (switch to record mode) button -->
  <Button
    row="0"
    col="0"
    class="icon text-primary--inverse p-10 m-10"
    [visibility]="viewMode == VIEW_MODE_PREVIEW ? 'visible' : 'collapse'"
    [text]="'0xea40' | iconFontString"
    (tap)="onBackButtonTap($event)">
  </Button>

  <!-- Complete button -->
  <Button
    row="0"
    col="2"
    class="icon text-primary--inverse p-10 m-10"
    [visibility]="viewMode == VIEW_MODE_PREVIEW ? 'visible' : 'collapse'"
    [text]="'0xea10' | iconFontString"
    [isEnabled]="isMinDurationRecorded"
    (tap)="onCompleteButtonTap($event)">
  </Button>
</GridLayout>
