@keyframes flash {
  from { opacity: 1; } to { opacity: 0.1; }
}

.recorded-cut-indicator {
  height: 5;
  background-color: #098795;
  border-right-color: #ffffff;

  &--animate {
    animation-name: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.recording-cut-indicator {
  height: 5;
  background-color: #098795;
}